.app-container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

#route-container {
    background-color: rgb(246, 246, 239);
    padding: 0.5rem 1.2rem;
}


.header {
    background-color: #ff6600;
    white-space: nowrap;
    padding: 0.5rem;
    color: black;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-title {
    font-weight: 700;
    margin-left: 0.25rem;
    margin-right: 5px;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.header-logo {
    height: 25px;
    margin-bottom: -1.5px;
}

.header-link {
    margin-left: 0.2rem;
    color: white !important;
    text-decoration: none;
}

.heart {
    height: 12px;
}

.upvote {
    font-size: 14px;
    vertical-align: top;
    color: #828282;
    margin-left: 0.25rem;
}

.story {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.grey {
    margin-top: 0.25em;
    color: #828282;
}

.active {
    border-bottom: 1px solid white;
}

.nested-comments-0 {
    margin-left: 1em;
    margin-bottom: 1em;
}

.nested-comments-1 {
    margin-left: 2em;
    margin-bottom: 0.5em;
    padding-top: 0.3em;
    padding-left: 0.75em;
}

.nested-comments-2 {
    margin-left: 3em;
    margin-bottom: 0.5em;
    padding-top: 0.3em;
    padding-left: 0.75em;
}

.nested-comments-3 {
    margin-left: 4em;
    margin-bottom: 0.5em;
    padding-top: 0.3em;
    padding-left: 0.75em;
}

.nested-comments-4 {
    margin-left: 5em;
    margin-bottom: 0.5em;
    padding-top: 0.3em;
    padding-left: 0.75em;
}